node_modules
yarn-error.log
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


src/contracts/protocolAddresses.json
.idea
dist

key.txt
keys.json
gcp_api_key.json
fleekApiKeys.json
*.sqlite
*.DS_Store
genesisDataFiles/*
